
@model  MonkeyBusinessPresentationLayer.Models.MonkeysViewModel
@{
    ViewBag.Title = "Monkey Business";

    // Created Form Post option to be able to change input variables
    using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        // Created basic table to format layout

        <div class="jumbotron">

            <div class="row">
                <table border="0">
                    <tr>
                        <td class="text-center">
                            @Html.TextBoxFor(m => m.LeftValue, new { @class = "text-center" })
                            <br /><br />
                            @*Monkeys Home*@
                            <img src="~/Content/monkey.jpg" width="70" />
                        </td>
                        @*Added border to simulate the rope*@
                        <td class="crossing-rope" style="border-bottom: solid 3px Brown;">
                            @*Monkeys on the Rope*@
                            <div id="monkey1" class="hideMonkey"></div>
                            <div id="monkey2" class="hideMonkey"></div>
                            <div id="monkey3" class="hideMonkey"></div>
                        </td>
                        <td class="text-center">
                            @Html.TextBoxFor(m => m.RiteValue, new { @class = "text-center" })
                            <br /><br />
                            @*Monkeys Home*@
                            <img src="~/Content/monkey.jpg" width="70" />
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: moccasin; padding: 10px;">
                            @*Add input boxes to reflect crossed monkey*@
                            <input id="leftMonkeys" type="text" value="0" class="text-center" />
                        </td>
                        <td class="text-center">
                            <br /><br />
                            <input type="submit" value="Start" />

                            @*Crock to Eat Monkey*@
                            <img src="~/Content/Crocodile.jpg" width="200" height="100" />
                        </td>
                        <td style="background-color: moccasin; padding: 10px;">
                            @*Add input boxes to reflect crossed monkey*@
                            <input id="rightMonkeys" type="text" value="0" class="text-center" />
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    }
}

<script type="text/javascript">

    // Setting up some global variables
    var i = 0;
    var myArray = []; loadArray();
    var myInterval = setInterval(showPresentation, 1000);

    // this binds the MVC model to the javascript array
    function loadArray() {
        // Use embedded C# to parse Model to javaScript array
        @if (Model.CrossingMonkeys !=null)
        {
            foreach(var s in Model.CrossingMonkeys)
            {
                //javaScript Array Push here
                @:myArray.push('@s');
                                            }
        }
    }
    // this creates the show
    function showPresentation() {
        // Ensure that only one row at the time is display using 'i' from the global variables
        if (i < myArray.length) {

            // Get single row from array into string variable
            var myString = myArray[i]; //alert(myString);

            // Split the string and parse each value to provide functionality to html content
            var splt = myString.split(','); // Need separator on the string[] Model

            // Variables for the rows count and completed cross
            var leftBox = splt[0];
            var riteBox = splt[4];

            // Hide all monkeys
            //$('.showMonkey').addClass('hideMonkey').removeClass('showMonkey');

            // Variable that represent Monkeys Crossing and conversion to html tags using styles classes
            if (splt[1].indexOf('*') == 0) { $('#monkey1').removeClass('hideMonkey').addClass('showMonkey'); } else { $('#monkey1').removeClass('showMonkey').addClass('hideMonkey'); }
            if (splt[2].indexOf('*') == 0) { $('#monkey2').removeClass('hideMonkey').addClass('showMonkey'); } else { $('#monkey2').removeClass('showMonkey').addClass('hideMonkey'); }
            if (splt[3].indexOf('*') == 0) { $('#monkey3').removeClass('hideMonkey').addClass('showMonkey'); } else { $('#monkey3').removeClass('showMonkey').addClass('hideMonkey'); }

            // Update input boxes after monkey is send across
            if ((leftBox.indexOf('*') == -1) && (leftBox.indexOf('_') == -1)) { $('#LeftValue').val(leftBox); }
            if ((riteBox.indexOf('*') == -1) && (riteBox.indexOf('_') == -1)) { $('#RiteValue').val(riteBox); }

            // Update output boxes after monkey has crossed
            if (leftBox.indexOf('*') == 0) {
                var lBoxValue = Number.parseInt($('#leftMonkeys').val()) + 1;
                $('#leftMonkeys').val(lBoxValue);
            }
            if (riteBox.indexOf('*') == 0) {
                var rBoxValue = Number.parseInt($('#rightMonkeys').val()) + 1;
                $('#rightMonkeys').val(rBoxValue);
            }

            // Increases the value of i
            i++;
        }
    }

</script>
