
@model  MonkeyBusinessPresentationLayer.Models.MonkeysViewModel
@{
    ViewBag.Title = "Monkey Business";

    // Created Form Post option to be able to change input variables
    using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        // Created basic table to format layout

        <div class="jumbotron">
            <p>Monkeys Crossing a Rope</p>

            <div class="row">
                <table border="1">
                    <tr>
                        <td class="text-center">
                            @Html.TextBoxFor(m => m.LeftValue)
                            <br /><br />
                            @*Monkeys Home*@
                            <img src="~/Content/monkey.jpg" width="70" />
                        </td>
                        <td class="crossing-rope">
                            @*Monkeys on the Rope
                                <img src="~/Content/monkey.jpg" />
                                <img src="~/Content/monkey.jpg" />
                                <img src="~/Content/monkey.jpg" />*@
                            @*Changed Monkey img to div tag to control from javascript*@

                            <div id="monkey1" class="showMonkey"></div>
                            <div id="monkey2" class="showMonkey"></div>
                            <div id="monkey3" class="showMonkey"></div>
                        </td>
                        <td class="text-center">
                            @Html.TextBoxFor(m => m.RiteValue)
                            <br /><br />
                            @*Monkeys Home*@
                            <img src="~/Content/monkey.jpg" width="70" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-center">
                            <input type="submit" value="Start" />

                            @*Crock to Eat Monkey*@
                            <img src="~/Content/Crocodile.jpg" width="200" height="100" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>

    }
}

<script type="text/javascript">

    // Setting up some global variables
    var i = 0;
    var myArray = []; loadArray();
    var myInterval = setInterval(showPresentation, 1000);

    // this binds the MVC model to the javascript array
    function loadArray() {
        // Use embedded C# to parse Model to javaScript array
        @if (Model.CrossingMonkeys !=null)
        {
            foreach(var s in Model.CrossingMonkeys)
            {
                //javaScript Array Push here
                @:myArray.push('@s');
            }
        }
    }
    // this creates the show
    function showPresentation() {


    }

</script>

