
@model  MonkeyBusinessPresentationLayer.Models.MonkeysViewModel
@{
    ViewBag.Title = "Monkey Business";

    // Created Form Post option to be able to change input variables
    using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        // Created basic table to format layout

        <div class="jumbotron">
            <p>Monkeys Crossing a Rope</p>

            <div class="row">
                <table border="1">
                    <tr>
                        <td class="text-center">
                            @Html.TextBoxFor(m => m.LeftValue)
                        </td>
                        <td></td>
                        <td class="text-center">
                            @Html.TextBoxFor(m => m.RiteValue)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-center">
                            <input type="submit" value="Start" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>

    }
}

<script type="text/javascript">

    // Setting up some global variables
    var i = 0;
    var myArray = []; loadArray();
    var myInterval = setInterval(showPresentation, 1000);

    // this binds the MVC model to the javascript array
    function loadArray() {

    }
    // this creates the show
    function showPresentation(){

    }

</script>

